# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env
.venv/
venv/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
